.button {
  padding: var(--size-md);

  line-height: 1;

  border: 0;
  transition: background-color 0.3s;

  &.primary {
    background-color: var(--color-main);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-main-dark);
    }
  }

  &.secondary {
    background-color: var(--color-accent);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-accent-dark);
    }
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--color-disabled);
  }
}
